# Supabase Configuration
# Replace these values in your local .env file
EXPO_PUBLIC_SUPABASE_URL=https://olswwdunaivwxefelasc.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kv8JR0wYeT_GsLXRCfla-g_LubiPMns
DOCUSIGN_INTEGRATION_KEY=990976e0-27ad-4cbf-bb7e-8fceb3e3aad2
DOCUSIGN_SECRET_KEY=d2900e78-6fcb-4f7f-9caa-7ae519de07bb
DOCUSIGN_ACCOUNT_ID=967abce0-867d-4d0e-bf43-dbe81f52dd6a
DOCUSIGN_BASE_URI=https://demo.docusign.net
DOCUSIGN_USER_ID=60e43781-b45f-4837-9c32-d2a5d6a86c91
DOCUSIGN_ACCESS_TOKEN=your_token_from_https://developers.docusign.com/tools/oauth-token-generator/